*
!README.md
!.gitignore
!fish
!fish/**/*
!i3
!i3/**/*
fish/fish_variables
!nvim
!nvim/**/*
!polybar
!polybar/**/*
!regolith
!regolith/**/*
!omf
!omf/**/*
!windows-terminal
!windows-terminal/**/*
!vs-code
!vs-code/**/*