*
!README.md
!.gitignore
!dunst
!dunst/**/*
!fish
!fish/**/*
!i3
!i3/**/*
fish/fish_variables
!nvim
!nvim/**/*
!polybar
!polybar/**/*
!regolith
!regolith/**/*
!omf
!omf/**/*
!windows-terminal
!windows-terminal/**/*
!vs-code
!vs-code/**/*
!iterm2
!iterm2/**/*
!zellij
!zellij/**/*
